footer {
  background: $color-5;
  display: flex;
  justify-content: center;
  color: white;
  padding: 8px;

  ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0 10px;
    li{
      padding: 0 5px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
