header {
  display: flex;
  background: $color-5;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  nav>ul {
    display: flex;
    list-style-type: none;

    li {
      padding: 0 5px;

      a {
        color: white;
        text-decoration: none;

        &.active {
          position: relative;

          &::after {
            content: "";
            background-image: url("../../medias/motif.svg");
            width: 50px;
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            bottom: -28px;
            background-size: contain;
            transform: translateX(-50%);
            animation: 2s ease-out opacity-to-up;
          }
        }
      }
    }
  }
}

@keyframes opacity-to-up { from { opacity:0; } to { opacity:100%; }  }
